@use 'scss/responsive';
@use 'scss/colors';
@use 'scss/structure/events';
@use 'scss/structure/podcast';
@use 'scss/structure/news';
@use 'scss/structure/videoandbutton';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {

    background-color: colors.$greyish;
}

.wrap {

    width: 1230px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    gap: 30px;
    font-family: 'Mulish', sans-serif;

    @include responsive.xl {

        flex-direction: column;

    }

    @include responsive.md {

            
        flex-direction: column;
   
    }

    .left-wrap {
        width: calc(100%/3*2);

        @include responsive.xl {

            width: 100%;
        }

        
        @include responsive.md {

            
            width: 100%;
       
        }

    }


    .right-wrap {
        width: calc(100%/3*1);

        @include responsive.xl {

            width: 100%;
        }

        @include responsive.md {

            
            width: 100%;
       
        }


    }

}
